/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

#departure_pickup, #departure_return, #alarm_pickup, #alarm_return { border-bottom: 0px; }


#staggered-test li {
  display:inline-block;
  float: Left;
  width: 50%;
  padding-left: 10px; }

@media (max-width: 700px) {
  #staggered-test li {
    display:inline-block;
    float: Left;
    width: 100%;
    padding-left: 10px; }
  }

#car_rented li {
  display:inline-block;
  float: Left;
  width: 50%;
  padding-left: 10px; }

#fixed_border {
    margin: 0.5rem 0 1rem 0;
    border: 1px solid #e0e0e0; }

@media (max-width: 700px) {
  #car_rented li {
    display:inline-block;
    float: Left;
    width: 100%;
    padding-left: 10px; }
  }

.swal2-confirm {
  margin-bottom: 10px
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#footer {
  display: none;
}

.g-recaptcha > div > div{
 margin: 15px auto !important;
 text-align: center;
 width: auto !important;
 height: auto !important;
}

.gc-reset{
  transform:scale(0.95) !important;
  -webkit-transform:scale(0.95) !important;
  transform-origin:0 0 !important;
  -webkit-transform-origin:0 0 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
